/* Put your custom styles here */

/*CSS file last updated on 2.22.2018 @ 3:40 PM*/

/****TOP HEADER BANNER****/

#top-banner-wrapper {
	background: #002D5B !important;
	position: relative;
	width: 100%;
	z-index: 999;
}

#banner-no-top-001,
#banner-no-top-002 {
	margin-top: 0px !important;
}

.hover-red:hover {
	background: #A30C33;
}

.hover-red-active {
	background: #A30C33;
}

.hover-red a {
	font-family: 'Montserrat' !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	text-transform: none !important;
}

.phone-number>a {
	font-family: 'Montserrat' !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	text-transform: none !important;
	padding: 15px 12px;
}

.no-bottom {
	margin-bottom: 0;
}

.sign-in-section {
	display: none !important;
}

/****FONTS****/

h1 {
	font-weight: 800;
}

h2 {
	color: #77797C;
	font-weight: 500;
}

p {
	color: #000;
	font-size: 16px;
	line-height: 1.7em;
}

a {
	color: #07929e;
}

a:hover {
	color: #045a62;
}

.vinx-green,
.vinx-green-medium,
.vinx-green-light {
	color: #07929E !important;
	font-weight: 700 !important;
}

.vinx-green-light {
	font-weight: 400 !important;
	line-height: 1.2em;
}

.vinx-green-medium {
	font-weight: 600 !important;
	line-height: 1.2em;
}

.vinx-white,
.vinx-white-light {
	color: #fff;
	font-weight: 600;
}

.vinx-white-light {
	font-weight: 400;
}

.vinx-grey {
	color: #77797C;
}

.white {
	color: #fff;
}

.medium-weight {
	font-weight: 600;
}

.nineteen-font {
	font-size: 19px;
}

.sixteen-font {
	font-size: 16px;
	font-weight: 600 !important;
}

.twenty-font {
	font-size: 20px !important;
}

.twenty-three-font {
	font-size: 23px !important;
}

.thirty-font {
	font-size: 30px;
}

.thirty-two-font {
	font-size: 32px;
}

.thirty-four-font {
	font-size: 34px;
}

.thirty-six-font {
	font-size: 36px;
	line-height: 1.3em;
}

.thirty-eight-font {
	font-size: 38px;
}

.font-weight400 {
	font-weight: 400 !important;
}

/****PADDING & MARGIN****/

.no-padding-left-right {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}

.margin-right-zero {
	margin-right: 0;
}

.margin-top-two-percent {
	margin-top: 2%;
}

.margin-top-four-percent {
	margin-top: 4%;
}

.margin-top-six-percent {
	margin-top: 6%;
}

.margin-bottom-1-percent {
	margin-bottom: 1%;
}

.margin-bottom-three-percent {
	margin-bottom: 3%;
}

.margin-bottom-five-percent {
	margin-bottom: 5%;
}

.margin-bottom-ten-percent {
	margin-bottom: 10%;
}

.margin-left-zero {
	margin-left: 0;
}

.one-percent-padding {
	padding-top: 1%;
}

.three-percent-padding {
	padding-top: 3%;
	padding-bottom: 3%;
}

.five-percent-padding {
	padding-top: 5%;
}

.seven-percent-padding {
	padding-top: 7%;
}

.ten-percent-padding {
	padding-top: 10%;
}

.twelve-percent-padding {
	padding-top: 12%;
}

.fifteen-percent-padding {
	padding-top: 15%;
}

.twenty-five-percent-padding {
	padding-top: 25%;
}

.thirty-five-percent-padding {
	padding-top: 35%;
}

.one-hundred-padding-left {
	padding-left: 100px;
}

.top-margin-twenty-one {
	margin-top: 21px;
}

.top-margin-twentyfive {
	margin-top: 25%;
}

.top-margin-thirtyfive {
	margin-top: 35%;
}

.top-margin-thirtyfour {
	margin-top: 20px;
}

.top-margin-fortyfive {
	margin-top: 45px;
}

.forty-five-left-padding {
	padding-left: 2%;
}

.forty-five-mobile {
	padding-left: 0;
}

.padding-top-zero {
	padding-top: 0;
}

.pet-demo-padding {
	padding-top: 5%;
}

.padding-two-percent {
	padding-top: 2%;
	padding-bottom: 2%;
}

.padding-bottom-two-percent {
	padding-bottom: 2%;
}

.padding-fifty {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-onehundred {
	padding-top: 100px;
	padding-bottom: 100px;
}

.padding-left-right-twenty {
	padding-left: 20px;
	padding-right: 20px;
}

.btn-padding-3-20 {
	padding: 3px 20px !important;
}

.six-percent-margin {
	margin-top: 6%;
}

.more-width {
	width: 1400px;
}

/****NAVIGATION SECTION STYLES****/

.header-logo-drop {
	padding-top: 20px;
}

#header-2 .main-nav .nav {
	margin-top: 35px;
}

.nav>li>a {
	padding: 15px 12px;
}

/****HEADER SECTION****/

.logo-container {
	margin-top: 100px;
}

.logo-text {
	color: #002D5B !important;
	font-family: 'Montserrat';
	font-size: 48px !important;
	font-weight: 800;
	line-height: 1.2em;
	text-align: right;
}

.large-green {
	color: #07929E;
	font-size: 69px;
}

/****VET WORK IS HARD SECTION STYLES****/

.vet-work-hard-text>h4 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1em !important;
	margin-bottom: 5px;
	padding-bottom: 0;
}

.vet-work-hard-text>p {
	font-size: 20px;
	font-weight: 500;
	margin-top: -5px;
}

.vinx-subhead {
	color: #07929E !important;
	font-size: 38px;
	font-weight: 700;
}

.image-container>img {
	margin-bottom: 25px;
}

/****WELCOME TO A NEW BREED SECTION STYLES****/

.welcome-section-container {
	padding-bottom: 5px;
}

.light-grey-bg {
	background: #f5f5f5;
}

.vinx-green-bg {
	background: #07929E;
}

.welcome-new-breed {
	margin-bottom: 65px;
	text-align: center;
}

.welcome-new-breed>h1 {
	margin-top: 5px;
}

.welcome-new-breed>h2 {
	color: #77797C;
	font-size: 38px;
	font-weight: 500;
	margin-bottom: 0px;
}

.animal-row-container>img {
	display: block;
	margin: 0 auto;
}

.four-col-modules-section {
	margin-top: 0px;
	padding-bottom: 15px;
	padding-top: 0px;
}

.fifty-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+50,07929e+50 */
	background: #f5f5f5;
	/* Old browsers */
	background: -moz-linear-gradient(left, #f5f5f5 50%, #07929e 50%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f5f5f5 50%, #07929e 50%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f5f5f5 50%, #07929e 50%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#07929e', GradientType=1);
	/* IE6-9 */
	padding: 65px 0;
}

.new-white-col {
	padding: 0 2%;
}

.new-white-col h2,
.new-green-col h2 {
	color: #07929e;
	font-size: 38px;
}

.new-white-col p,
.new-green-col p {
	color: #77797C;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2em;
}

.new-green-col {
	padding: 0 5%;
}

.new-green-col h2 {
	color: #ffffff;
}

.new-green-col p {
	color: #ffffff;
}

/****FLEXBOX****/

/* Row with equal height columns */

.flexbox-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
}

.feature-column {
	background: #fff;
	border: 1.5px solid #C6C6C6;
	flex: 1;
	margin: 10px;
}

.feature-column:hover {
	border: 1.5px solid #07929E;
}

.feature-box-white-bg {
	background: #fff !important;
	padding: 35px 5px !important;
}

.feature-box-white-bg h3 {
	color: #000 !important;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3em;
}

.content-3-5 .feature-box p {
	color: #000;
	opacity: 1;
}

.feature-box-white-bg p {
	font-weight: 500;
	margin-bottom: 35px;
	padding-bottom: 35px;
}

.btn.btn-default {
	box-shadow: none;
}

.learn-more-button {
	background: #808285 !important;
	border: 3px solid #808285;
	border-radius: 30px;
	color: #fff !important;
	font-weight: 700;
	margin-top: 20px;
	max-width: 190px;
	min-width: 190px;
	padding: 10px 20px;
}

.learn-more-button:hover {
	background-color: #adadad !important;
	border: 3px solid #adadad !important;
	color: #fff;
}

.button-transform {
	bottom: 0;
	left: 50%;
	right: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

/****CSS GRID****/

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(185px, 150px));
	grid-gap: 3px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

/****BUILD EVEN BETTER SECTION STYLES****/

.client-row {
	background: #f9f9f9;
}

.liv-lily-image-container {
	padding: 0;
}

.liv-and-lily-col {
	margin-top: 5%;
	text-align: center;
}

.liv-and-lily-col>h1 {
	color: #07929E;
	font-size: 38px;
	line-height: 1.2em;
}

.liv-lily-btn,
.dr-pat-btn {
	background: #07929E !important;
	border: 3px solid #07929E;
	border-radius: 55px;
	color: #fff !important;
	font-size: 26px;
	font-weight: 500;
	padding: 0 35px;
}

.liv-lily-btn:hover,
.dr-pat-btn:hover {
	background: #045a62 !important;
	border: 3px solid #045a62;
	border-radius: 55px;
	box-shadow: none !important;
	color: #fff !important;
	font-size: 26px;
}

.liv-lily-btn h3,
.dr-pat-btn h3 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 8px;
}

.dr-pat-btn h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

.liv-lily-btn p,
.dr-pat-btn p {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 8px;
	margin-top: 5px;
}

.dr-pat-btn p {
	color: #fff;
	margin-top: 8px;
	margin-bottom: 0;
}

.relationship-status {
	font-size: 14px;
	font-weight: 600;
}

.vet-margin-top {
	margin-top: 25px;
}

/****TAKE THINGS FURTHER SECTION****/

.white-column {
	background: #F5F5F5;
}

.green-column {
	background: #07929E;
}

.white-column,
.green-column {
	padding: 50px;
	text-align: justify;
}

.white-column h2 {
	color: #07929e;
	font-size: 38px;
}

.green-column h2 {
	color: #fff;
	font-size: 38px;
}

.flex-content {
	margin: 0 auto;
}

.flex-content>p,
.white-column>p {
	color: #fff !important;
	font-size: 20px;
	font-weight: 600;
}

.white-column .flex-content>p {
	color: #77797C !important;
}

.balance-btn {
	border: 3px solid;
	border-radius: 33px;
}

.balance-btn.green {
	background-color: #07929E;
	border-color: #07929E;
	box-shadow: none;
	color: #fff;
	font-weight: 700;
	padding: 8px 20px;
}

.balance-btn.green:hover {
	background-color: #045a62;
	border-color: #045a62;
	box-shadow: none;
}

.balance-btn.white-btn {
	background: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #07929E;
	font-weight: 600;
	padding: 8px 20px;
}

.balance-btn.white-btn:hover {
	background: #bdc3c7;
	border-color: #bdc3c7;
	box-shadow: none;
	color: #07929E;
}

.inner {
	padding: 0 5%;
}

/****REPORTING PAGE STYLES****/

.vinx-blue {
	color: #002D5B;
	font-weight: 600;
}

.reporting-white-bg {
	background-color: #fff;
}

#detailed-compliance {
	padding-bottom: 0px;
}

.demographics-padding {
	padding-top: 10%;
}

.demo-btn {
	font-size: 23px;
	max-width: 280px;
	min-width: 280px;
}

.vinx-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.vinx-col {
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	background: #eee;
	width: 50%;
	align-items: flex-start;
}

.vinx-col>.btn {
	width: 60%;
}

.vinx-green-bg {
	background: #07929E;
}

.vin-family-text {
	color: #77797C;
	font-size: 28px;
	font-weight: 700;
	margin: 0 15px;
}

/****AIMING FOR TEAM PAGE STYLES BELOW****/

.our-team {
	color: #fff;
	position: relative;
	text-align: center;
}

.our-team img {
	height: 100%;
	width: 100%;
}

.our-team .content {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 30%;
	transform: perspective(400px) rotateX(-90deg);
	transform-origin: center top 0;
	transition: all 0.5s ease 0s;
	opacity: 0;
}

.our-team:hover .content,
.our-team.active .content {
	opacity: 1;
	transform: perspective(400px) rotateX(0deg);
}

.our-team .content .title {
	margin: 0 0 10px;
	display: block;
	font-size: 25px;
	font-weight: 600;
}

.our-team .content .post {
	margin: 0 0 25px;
	display: block;
	font-size: 15px;
}

.our-team .social {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.our-team .social li {
	display: inline-block;
}

.our-team .social li a {
	display: block;
	color: #fff;
	font-size: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 0;
	background-color: #F32248;
	margin-right: 5px;
	transition: all 0.5s ease 0s;
	position: relative;
}

.our-team .social li a:hover,
.our-team.active .social li a {
	border-radius: 50%;
	text-decoration: none;
}

.confirmation {
	color: #77797C !important;
	font-weight: 600;
}

.green-link {
	color: #07929E;
	font-weight: 600;
}

/****OUR STORY PAGE STYLES****/

.team-inner-content {
	padding: 0 25px;
}

.gd-textbox-title {
	padding-bottom: 10px;
}

/****VINX PLEDGE SECTION****/

.vinx-pledge h2 {
	color: #77797C;
	font-size: 38px;
	font-weight: 500;
	margin: 8px auto;
	text-align: right;
	padding-right: 15%;
}

/****VETTOOLS BUDDY PAGE****/

.vettools-appt-content {
	padding-top: 2%;
}

.quote-confirm-appt {
	margin-top: 35px;
}

.nobody-ever {
	font-size: 30px;
}

.buddy-subhead {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.3em;
	color: #77797C;
	padding-top: 2%;
	padding-left: 4%;
}

.buddy-text {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3em;
	color: #77797C;
}

.buddy-call-out {
	color: #77797C;
	font-size: 20px;
	font-weight: 400;
	margin-top: 5px;
}

.vettools-buddy-list {
	padding-bottom: 10px;
	padding-top: 10px;
}

.vettools-buddy-list li {
	color: #000;
	font-size: 16px;
	list-style-type: none;
	margin-bottom: 8px;
}

.vettools-buddy-list i {
	color: #07929E;
	float: left;
	margin-right: 5px;
	padding-top: 5px;
}

.vettools-buddy-list p {
	display: block;
	margin: 8px 0 8px 18px;
}

.vettools-buddy-list p a {
	color: #000;
}

.vettools-buddy-list p a:hover {
	color: #07929E;
}

.google-couple-col {
	padding-right: 0;
}

.liv-lily-list li {
	color: #07929e;
	font-size: 16px;
	list-style-type: disc;
	margin-bottom: 25px;
}

.liv-lily-list li:nth-child(3) {
	margin-bottom: none !important;
}

.liv-lily-list li span {
	color: #000;
}

.long-button,
.medium-button {
	border-radius: 50px;
	font-size: 23px;
	font-weight: 500;
	max-width: 366px;
	min-width: 366px;
	padding: 5px 20px;
}

.medium-button {
	max-width: 250px;
	min-width: 250px;
}

/****OUTREACH PAGE****/

.postal-stack-pic {
	margin-top: 25px;
}

.outreach-content {
	margin: 8% 0;
}

.alex-running-content {
	margin-top: 22%;
}

/****CONNECT PAGE STYLES****/

.caremail-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 65px;
}

.caremail-item {
	margin: 0 10px;
}

.caremail-item h2 {
	font-weight: 700;
}

/****SMS HEALTH REMINDER PAGE****/

.grey-thirty {
	font-size: 30px;
}

.green-twentynine {
	font-size: 29px;
	line-height: 1.3em;
}

.footer-links,
.footer-links>a {
	color: #fff;
	font-weight: 700;
}

.footer-links>a:hover {
	color: #07929E;
}

/****POSTCARD REMINDERS****/

.video-btn {
	font-size: 20px;
	font-weight: 400;
	padding: 6px 45px;
}

.video-btn:hover {
	font-size: 20px;
	font-weight: 400;
}

.vinx-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

/***** MODAL *****/

.modal-backdrop.in {
	filter: alpha(opacity=7);
	opacity: 0.7;
}

.modal-content {
	background: none;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 50%;
}

.modal-body {
	padding: 0 25px 25px 25px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	text-align: right;
}

.modal-header,
.modal-footer {
	border: 0;
}

.modal-header .close {
	float: none;
	margin: 0;
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

/***POSTCARD REMINDERS CAROUSEL STYLES****/

/* carousel */

.media-carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}

/* Previous button  */

.media-carousel .carousel-control.left {
	color: #07929e;
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #fff;
	border: 4px solid #07929e;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 8%;
}

/* Next button  */

.media-carousel .carousel-control.right {
	color: #07929e;
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #fff;
	border: 4px solid #07929e;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 8%;
}

/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

/* Changes the colour of the indicators */

.media-carousel .carousel-indicators li {
	background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
	background: #333333;
}

.thumbnail {
	border: 0;
}

.media-carousel img {
	width: 300px;
	height: 210px;
}

/* End carousel */

/****FAQs PAGE STYLES****/

.panel-title>a {
	font-size: 24px;
	font-weight: 400;
	padding: 40px 25px 40px;
	text-transform: none;
}

.panel-body {
	font-size: 16px;
}

.panel-title>a[data-toggle="collapse"]:after {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0a9";
	transform: rotate(90deg);
	transition: all linear 0.25s;
	float: right;
}

.panel-title>a[data-toggle="collapse"].collapsed:after {
	transform: rotate(0deg);
}

/****HOT BOARD PAGE STYLES****/

.blog-header-icon-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin: 15px 0;
}

.blog-header-icon-wrapper>img {
	margin-right: 15px;
}

.blog-header-icon-wrapper>h3 {
	color: #fff;
	font-weight: 600;
}

.blog-inner-content {
	padding: 40px;
}

.blog-feature-wrapper {
	background: #f1f1f1 !important;
	border: 2px solid #D8d8d8;
	padding: 0 0 15px 0 !important;
}

.icon-container,
.love-letter-icon-container {
	padding: 50px 0;
}

.love-letter-icon-container {
	background-image: url('../images/dog-cat-resting.png'), linear-gradient(to bottom, #909090, #2c2c2c);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
}

.icon-inner-container {
	padding: 20px 0 0 0;
}

.blog-excerpt-container {
	padding: 0 30px 10px;
}

.blog-excerpt-container>.hot-board-text-link {
	color: #07929E;
	font-size: 27px;
	font-weight: 600;
}

.blog-excerpt-container>.hot-board-text-link:hover {
	color: #045a62;
}

.blog-excerpt-container>p {
	color: #77797C !important;
	opacity: 1 !important;
	font-weight: 400;
	margin: 15px 0;
}

/****Declare a container height when using a Three Line Title with no paragraph text****/

.three-line-title-container {
	height: 444px;
}

/****hot board full background image container styles****/

.feature-box.full-image-feature-wrapper {
	background-image: url('../images/beach-dog.png'), linear-gradient(to bottom, #909090, #2c2c2c);
	background-blend-mode: multiply;
	background-size: cover !important;
	background-repeat: no-repeat;
	border: 2px solid #D8d8d8;
	padding: 0 0 15px 0 !important;
}

.icon-container-no-image {
	padding: 50px 0;
}

.feature-box.full-image-feature-wrapper>.blog-excerpt-container>h6,
.feature-box.full-image-feature-wrapper>.blog-excerpt-container>.hot-board-text-link,
.feature-box.full-image-feature-wrapper>.blog-excerpt-container>p {
	color: #fff !important;
}

.full-image-feature-wrapper>.blog-excerpt-container>.hot-board-text-link:hover {
	color: #14dcee !important;
}

/****blog post page styles****/

/***PETPOST SIGN-UP PAGE****/

.label-heading {
	font-size: 20px;
	font-weight: 400;
	text-align: left !important;
	margin-bottom: 10px;
}

.breed-theme-radio {
	margin-top: 1.3% !important;
}

.breed-themes {
	font-size: 20px;
	font-weight: 600;
}

.small-text>span {
	font-size: 16px;
}

.special-certification {
	margin-left: 30%;
}

.upcoming-radio>.radio label,
.overdue-radio>.radio label,
.species-selection>.checkbox label,
.special-certification>.checkbox label {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}

/****GET IN TOUCH - CONTACT US FORM****/

.get-in-touch-form {
	background: #f1f1f1;
	padding: 30px;
}

.get-in-touch-form>label {
	color: #A7A7A7;
}

/****MEDIA QUERIES****/

@media (max-width: 1200px) {
	.forty-five-mobile {
		padding-left: 4.5%;
	}
}

@media screen and (max-width: 990px) {
	.our-team {
		margin-bottom: 30px;
	}
}

@media (max-width: 989px) {
	.fifty-gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+50,07929e+50 */
		background: #f5f5f5;
		/* Old browsers */
		background: -moz-linear-gradient(top, #f5f5f5 50%, #07929e 50%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f5f5f5 50%, #07929e 50%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #f5f5f5 50%, #07929e 50%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#07929e', GradientType=0);
		/* IE6-9 */
		padding: 0;
	}
	.new-white-col {
		padding: 2%;
	}
	.new-green-col {
		padding: 10%;
	}
	.new-white-col h2,
	.new-green-col h2 {
		padding-top: 15%;
	}
}

@media (max-width: 981px) {
	.five-percent-padding,
	.seven-percent-padding,
	.ten-percent-padding,
	.twelve-percent-padding,
	.fifteen-percent-padding,
	.twenty-five-percent-padding,
	.thirty-five-percent-padding,
	.forty-five-left-padding {
		padding-top: 0;
	}
	.one-hundred-padding-left {
		padding-left: 0;
	}
	.padding-top-zero {
		padding-top: 100px;
	}
	.top-margin-twentyfive,
	.top-margin-thirtyfive {
		margin-top: 0;
	}
	.flexbox-row {
		flex-flow: column nowrap;
	}
	.feature-column {
		margin: 5px 0;
	}
	.vinx-flex {
		flex-flow: column nowrap;
	}
	.vinx-col {
		width: 100%;
		align-items: center;
		text-align: center;
		padding: 25px;
	}
	.vinx-col>.btn {
		width: 50%;
	}
	.vinx-pledge h2 {
		text-align: center;
		padding-right: 0;
	}
	.media-carousel .carousel-control.left,
	.media-carousel .carousel-control.right {
		margin-top: 50%;
	}
}

@media (max-width:768px) {
	#banner-header {
		display: none;
	}
	.sign-in-section {
		display: block !important;
	}
	#promo-3 {
		padding: 25px 0;
	}
	.logo-container>img {
		margin: 0 auto;
	}
	.logo-text {
		text-align: center;
	}
	.vinx-col>.btn {
		width: 100%;
	}
	.vettools-buddy-list i {
		float: none;
	}
	.vettools-buddy-list p {
		margin-left: 0;
	}
	.google-couple-col {
		padding-right: 15px;
	}
	.liv-lily-list li {
		list-style-position: inside;
	}
	.big-margin {
		margin: 40px 0;
	}
	.think-about-content {
		margin-top: 25%;
	}
	.liv-content-block {
		padding-bottom: 0;
	}
	.lily-content-block {
		padding-top: 0;
	}
	.quote-confirm-appt {
		margin-top: 0;
	}
	.think-about-content {
		margin-top: 0;
	}
	.postal-stack-pic {
		margin-top: 0;
	}
	.outreach-content {
		margin: 0;
	}
	.alex-running-content {
		margin-top: 0;
	}
	.caremail-flex {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: 25px;
	}
	.pic-padding {
		padding-bottom: 10px;
	}
	.woman-cats-container>img {
		margin-top: 50px;
		max-width: 100%;
		min-width: 100%;
	}
	.margin-right-zero {
		margin: 0 auto;
	}
	.mobile-btn-margin {
		margin: 25px auto;
	}
	.special-certification {
		margin-left: 0;
	}
	.mobile-pic {
		margin: 0 auto;
	}
	.gd-cell-textbox-content>.gd-textbox-text {
		display: none;
	}
}

@media (max-width:480px) {
	#header-2 .brand-img {
		max-width: 200px;
	}
}